.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 What is CI?

    %b Continuous Integration
    is the practice of merging all the code that is being produced by developers. The merging usually takes place several times a day in a shared repository. From within the repository, or production environment, building and automated testing are carried out that ensure no integration issues and the early identification of any problems.

    %h2 What is CD?

    %b Continuous Delivery
    adds that the software can be released to production at any time, often by automatically pushing changes to a staging system.
    %p
    %b Continuous Deployment
    goes further and pushes changes to production automatically.
  .col-xs-1.col-md-1
%hr.divider/
